* {
  border: 1px solid red
}

html, body {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(14, 14, 14);
  margin: 0;
  /* padding: 0; */
  position: relative;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0;
  /* position: absolute; */

}

h1 {
  color: green;
  margin: 0;
}

h2 {
  color: purple;
  margin: 0;
}

.titleCont {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.title {
  text-align: center;
  background-color: #978f8f;
  width:  40%;
  vertical-align: center,
}

.examplesCont {
  width: 100%;
  height: 60%;
  color: red;
}
